node_red_flow.json
[{"id":"321fe1b4.1603ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e3c6fb13.11e1e8","type":"debug","z":"321fe1b4.1603ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":340,"wires":[]},{"id":"28890fb6.bc319","type":"http request","z":"321fe1b4.1603ae","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":240,"wires":[["e3c6fb13.11e1e8","b8c03168.f4758"]]},{"id":"520ae850.9c6808","type":"function","z":"321fe1b4.1603ae","name":"set request","func":"//getting departure and arrival ICAO code from the flow\ndepature=flow.get(\"dep\")\narrival=flow.get(\"arr\")\n//setting uri for requesting data from aviation api\nvar body=\"http://api.aviationstack.com/v1/flights?access_key=d643a7aad7a6c05f67cb82df5c47affd&limit=5&flight_status=scheduled&dep_iata=\"+depature+\"&arr_iata=\"+arrival\n//sending url to next node\nreturn{\n    'url':body\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":160,"wires":[["28890fb6.bc319","6af4f0c2.19a75"]]},{"id":"6af4f0c2.19a75","type":"debug","z":"321fe1b4.1603ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":100,"wires":[]},{"id":"5f64c217.e62e2c","type":"inject","z":"321fe1b4.1603ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":40,"wires":[["520ae850.9c6808"]]},{"id":"b8c03168.f4758","type":"function","z":"321fe1b4.1603ae","name":"set output","func":"//variables to processing data\nvar count=msg.payload.pagination.count;\nvar i;\nvar dep_dates=[];\nvar arr_dates=[];\nvar dep_times=[];\nvar arr_times=[];\nvar airlines=[];\nvar array;\nfor (i = 0; i < count; i++) {\n    array=msg.payload.data[i];\n    dep_dates.push(array.flight_date);\n    arr_dates.push(array.arrival.scheduled.substr(0,10));\n    dep_times.push(array.departure.scheduled.substr(11,16)+\"(\"+array.departure.timezone+\")\");\n    arr_times.push(array.arrival.scheduled.substr(11,16)+\"(\"+array.arrival.timezone+\")\");\n    airlines.push(array.airline.name);\n}\nreturn{\n    flight_count:count,\n    ddate:dep_dates,\n    adate:arr_dates,\n    dtime:dep_times,\n    atime:arr_times,\n    line:airlines\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":160,"wires":[["b5f516ac.038718","b1b7af50.5a187","ba77a90.352af58","8d26ca71.ee8ee8","3eaf4ef1.470d12","1482dd9a.e3ae02"]]},{"id":"f36d8363.51ff9","type":"mqtt out","z":"321fe1b4.1603ae","name":"","topic":"flight_count","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c93dd068.3657a","x":1270,"y":60,"wires":[]},{"id":"b5f516ac.038718","type":"function","z":"321fe1b4.1603ae","name":"mqtt_flight_count","func":"return{\n    'payload':msg.flight_count\n};\n//setting up for publishing","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":60,"wires":[["f36d8363.51ff9"]]},{"id":"874df0b0.1149a","type":"mqtt in","z":"321fe1b4.1603ae","name":"","topic":"flight_count","qos":"2","datatype":"auto","broker":"c93dd068.3657a","nl":false,"rap":true,"rh":0,"x":630,"y":440,"wires":[["5a9649e9.57e018"]]},{"id":"5a9649e9.57e018","type":"debug","z":"321fe1b4.1603ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":440,"wires":[]},{"id":"15ab4e2e.48c2b2","type":"mqtt out","z":"321fe1b4.1603ae","name":"","topic":"departure_date","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c93dd068.3657a","x":1280,"y":120,"wires":[]},{"id":"b1b7af50.5a187","type":"function","z":"321fe1b4.1603ae","name":"mqtt_departure_date","func":"return{\n    'payload':msg.ddate\n};\n//setting up for publishing","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":120,"wires":[["15ab4e2e.48c2b2"]]},{"id":"d7fbbbfb.8923e8","type":"mqtt out","z":"321fe1b4.1603ae","name":"","topic":"arrival_date","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c93dd068.3657a","x":1270,"y":180,"wires":[]},{"id":"ba77a90.352af58","type":"function","z":"321fe1b4.1603ae","name":"mqtt_arrival_date","func":"return{\n    'payload':msg.adate\n};\n//setting up for publishing","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":180,"wires":[["d7fbbbfb.8923e8"]]},{"id":"be3c30c5.0303","type":"mqtt out","z":"321fe1b4.1603ae","name":"","topic":"departure_time","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c93dd068.3657a","x":1280,"y":240,"wires":[]},{"id":"8d26ca71.ee8ee8","type":"function","z":"321fe1b4.1603ae","name":"mqtt_departure_time","func":"return{\n    'payload':msg.dtime\n};\n//setting up for publishing","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":240,"wires":[["be3c30c5.0303"]]},{"id":"cbcb79f1.d76a58","type":"mqtt out","z":"321fe1b4.1603ae","name":"","topic":"airline_name","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c93dd068.3657a","x":1270,"y":300,"wires":[]},{"id":"3eaf4ef1.470d12","type":"function","z":"321fe1b4.1603ae","name":"mqtt_airline_name","func":"return{\n    'payload':msg.line\n};\n//setting up for publishing","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":300,"wires":[["cbcb79f1.d76a58"]]},{"id":"29fa4bd9.40cc24","type":"mqtt out","z":"321fe1b4.1603ae","name":"","topic":"arrival_time","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c93dd068.3657a","x":1270,"y":360,"wires":[]},{"id":"1482dd9a.e3ae02","type":"function","z":"321fe1b4.1603ae","name":"mqtt_arrival_time","func":"return{\n    'payload':msg.atime\n};\n//setting up for publishing","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":360,"wires":[["29fa4bd9.40cc24"]]},{"id":"9386298c.5d3348","type":"mqtt in","z":"321fe1b4.1603ae","name":"","topic":"departure_date","qos":"2","datatype":"auto","broker":"c93dd068.3657a","nl":false,"rap":true,"rh":0,"x":640,"y":500,"wires":[["649b2349.b5b80c"]]},{"id":"649b2349.b5b80c","type":"debug","z":"321fe1b4.1603ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":500,"wires":[]},{"id":"564f7543.4db8ac","type":"mqtt in","z":"321fe1b4.1603ae","name":"","topic":"departure_time","qos":"2","datatype":"auto","broker":"c93dd068.3657a","nl":false,"rap":true,"rh":0,"x":640,"y":560,"wires":[["9ac35150.9378f"]]},{"id":"9ac35150.9378f","type":"debug","z":"321fe1b4.1603ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":560,"wires":[]},{"id":"ab12455.d5e61b8","type":"mqtt in","z":"321fe1b4.1603ae","name":"","topic":"arrival_date","qos":"2","datatype":"auto","broker":"c93dd068.3657a","nl":false,"rap":true,"rh":0,"x":630,"y":620,"wires":[["47de29ef.9317e8"]]},{"id":"47de29ef.9317e8","type":"debug","z":"321fe1b4.1603ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":620,"wires":[]},{"id":"8341599c.d9a3a8","type":"mqtt in","z":"321fe1b4.1603ae","name":"","topic":"arrival_time","qos":"2","datatype":"auto","broker":"c93dd068.3657a","nl":false,"rap":true,"rh":0,"x":630,"y":680,"wires":[["2e4fb7d6.72fbd8"]]},{"id":"2e4fb7d6.72fbd8","type":"debug","z":"321fe1b4.1603ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":680,"wires":[]},{"id":"b0b4e83b.c3ed08","type":"mqtt in","z":"321fe1b4.1603ae","name":"","topic":"airline_name","qos":"2","datatype":"auto","broker":"c93dd068.3657a","nl":false,"rap":true,"rh":0,"x":630,"y":740,"wires":[["37f99752.cd1638"]]},{"id":"37f99752.cd1638","type":"debug","z":"321fe1b4.1603ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":740,"wires":[]},{"id":"34449fb3.7c764","type":"mqtt in","z":"321fe1b4.1603ae","name":"","topic":"arrival_departure_inputs","qos":"2","datatype":"auto","broker":"c93dd068.3657a","nl":false,"rap":true,"rh":0,"x":130,"y":240,"wires":[["7550e809.c37c28","34463aeb.709546"]]},{"id":"7550e809.c37c28","type":"json","z":"321fe1b4.1603ae","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":160,"wires":[["c4bda70b.91ed28","b0ec00a.7f55b"]]},{"id":"34463aeb.709546","type":"debug","z":"321fe1b4.1603ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":320,"wires":[]},{"id":"c4bda70b.91ed28","type":"debug","z":"321fe1b4.1603ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":100,"wires":[]},{"id":"b0ec00a.7f55b","type":"function","z":"321fe1b4.1603ae","name":"Process Inputs","func":"//setting up departure and arrival ICAO codes extracted by JSON\n//sent by node MCU\nflow.set(\"dep\",msg.payload.departure)\nflow.set(\"arr\",msg.payload.arrival)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":240,"wires":[["520ae850.9c6808"]]},{"id":"c93dd068.3657a","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]